fastapi
uvicorn
langgraph
langchain
langchain-anthropic
langchain-openai
langchain-google-genai
langchain-community
redis
pydantic
python-dotenv
httpx
sqlalchemy
psycopg2-binary
sse-starlette
tavily-python
docker
watchdog
langchain-postgres
langchain-text-splitters
qdrant-client
openai
